:root {
  --border-color: #e6e6e6;
  --text-color: #333;
}

.root {
  display: block;
  margin: 2px;
}

.input {
  display: block;
  font-size: 12px;

  width: 100%;
  height: 30px;
  padding: 7px;

  outline: none;
  border: 1px solid var(--border-color);

  box-sizing: border-box;

  &:focus,
  &:active {
    --border-color: #18a0fb;

    outline: 1px solid var(--border-color);
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.disabled {
  &:hover,
  &:active {
    color: rgb(179, 179, 179);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }
}
