#react-page {
    font-size: 14px;
    font-family: Inter, Roboto, sans-serif;
    height: 100%;
}

.search-field {
    padding-bottom: 20px;
}

.icons-container {
    display: flex;
    flex-flow: column nowrap;

    &__list {
        display: flex;
        flex-flow: row wrap;
        max-height: 250px;

        overflow: auto;
    }

    &__element {
        width: 20px;
        height: 20px;

        padding: 10px;
        cursor: pointer;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}
