#react-page {
    font-size: 14px;
    font-family: Inter, Roboto, sans-serif;
    height: 100%;
}

.icon-list {
    display: flex;
    flex-flow: row wrap;

    &__element {
        width: 20px;
        height: 20px;

        padding: 10px;
        cursor: pointer;
    }
}
