.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background: #4dabf7;
    border-radius: 4px;

    .icon {
      color: #fff;
    }
  }
}

.icon {
  font-size: 22px;
  color: #000;
  width: 100%;
}
