.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.list {
  box-sizing: border-box;

  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background-color: #fff;
  color: #444;

  list-style: none;

  margin: 0;
  padding: 0;
}

.title {
  background: #fff;
  position: sticky;
  top: 40px;
  padding: 15px 0;
  margin: 0;
  z-index: 10;
  font-size: 16px;
}

.element {
  display: block;
  width: 100%;
}
